.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	left: 0;
	top: 0;
	right: 0;

	padding: 1.2rem;
	position: fixed;

	z-index: 1005;

	background-color: transparent;
	transition: 200ms background-color;

	img {
		width: 140px;
		height: auto;
	}

	@media (min-width: 992px) {
		padding: 1.2rem 3rem;

		img {width: 214px;}
	}

	&.headerBg {
		background-color: var(--yellow-500);
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}

	.btnBox {
		border-radius: 2px;
		position: relative;
		display: flex;

		>button {
			width: 2rem;
			cursor: pointer;
			background-color: transparent;

			span {
				display: block;
				width: 100%;
				border-radius: 3px;
				height: 4px;
				background: #000;
				transition: all .3s;
				position: relative;
			}

			span + span {
				margin-top: 5px;
			}

			&.btnOpen {
				span:nth-child(1) {
					animation: ease .7s top forwards;
				}

				span:nth-child(2) {
					animation: ease .7s scaled forwards;
				}

				span:nth-child(3) {
					animation: ease .7s bottom forwards;
				}
			}

			&.btnClosed {
				span:nth-child(1) {
					animation: ease .7s top-2 forwards;
				}

				span:nth-child(2) {
					animation: ease .7s scaled-2 forwards;
				}

				span:nth-child(3) {
					animation: ease .7s bottom-2 forwards;
				}
			}
		}
	}
}

.fsmenu {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	overflow: hidden;
	display: none;
	pointer-events: none;

	.fsmenu--container {
		width: 0;
		height: 100vh;
		padding: 5em 3em 3em;
		background: var(--yellow-500);
		position: fixed;
		right: 0;
		overflow: hidden;
		pointer-events: all;

		.fsmenu--text-block {
			width: 100%;
			height: 100%;

			.fsmenu--text-container {
				width: 100%;
				height: 100%;

				.fsmenu--list {
					width: 100%;
					height: 100%;
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;

					.fsmenu--list-element {
						width: 100%;
						height: 5rem;
						list-style-type: none;
						text-align: right;

						&.menuActive {
							a {
								color: var(--black);
							}
						}

						a {
							width: 100%;
							height: 100%;
							text-decoration: none;
							color: var(--yellow-600);
							display: flex;
							justify-content: flex-end;
							align-items: center;
							transition: 0.2s ease;

							&:hover {
								color: var(--black)
							}

							span {
								font-size: 3.5rem;
								font-weight: 800;
								letter-spacing: 0px;
								text-transform: uppercase;
								line-height: 1;
								height: 1em;
								display: inline-block;
								position: relative;
								z-index: 1002;
								white-space: pre;

								&:before {
									content: "";
									display: block;
									width: 100%;
									height: 100%;
									background: var(--yellow-600);
									position: absolute;
									left: 0;
									z-index: 1003;
								}

								@media (max-width: 991px){
									font-size: 2.2rem;
									color: var(--black);
								}
							}
						}
						.fsmenu--scrolling-text {
							height: 100%;
							display: flex;
							align-items: center;
							transform: translate(-20%, -100%);
							opacity: 0;
							pointer-events: none;

							span {
								height: 1em;
								font-size: 6em;
								font-weight: 900;
								text-transform: uppercase;
								line-height: 1;
								color: rgba($color: #000000, $alpha: 0.1);
								display: inline-block;
								margin-right: 1em;
								white-space: pre;
							}

						}
						&:hover {
							.fsmenu--scrolling-text {
								opacity: 1;
								-webkit-animation: animScrollingContactTextLeft 9s linear 0s infinite;
								animation: animScrollingContactTextLeft 9s linear 0s infinite;
							}
						}

						.fsmenu--link-img {
							width: 0px;
							height: 100vh;
							padding: 8em 3em 3em;
							position: absolute;
							top: 0;
							right: calc(100vw - 720px);
							z-index: 1001;
							font-size: 16px;
							pointer-events: none;

							.fsmenu--img-container {
								height: 100%;
								width: 100%;
								position: relative;
								overflow: hidden;

								img {
									width: 624px;
									display: block;
									position: absolute;
									right: 0;
									top: 50%;
									transform: translate(0, -50%);
								}
							}
						}
					}
					@media (min-width: 992px){
						.fsmenu--list-element.open {
							.fsmenu--link-img {
								left: auto;
								right: calc(100vw - 720px);
								-webkit-animation: animMenuRevealImg 0.4s ease 0s forwards;
								animation: animMenuRevealImg 0.4s ease 0s forwards;

								.fsmenu--img-container {
									img {
										right: 0;
										left: auto;
									}
								}
							}
						}
						.fsmenu--list-element.is-closing {
							.fsmenu--link-img {
								left: 0;
								right: auto;
								-webkit-animation: animMenuCloseImg 0.4s ease 0s forwards;
								animation: animMenuCloseImg 0.4s ease 0s forwards;

								.fsmenu--img-container {
									img {
										left: 0;
										right: auto;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
.fsmenu.is-active {
	display: block;

	.fsmenu--container {
		-webkit-animation: animMenuReveal 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
		animation: animMenuReveal 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;

		.fsmenu--text-container {
			.fsmenu--list {
				.fsmenu--list-element {
					a {
						span {
							&:before {
								-webkit-animation: animMenuRevealLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.4s forwards;
								animation: animMenuRevealLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.4s forwards;
							}
						}
					}
				}
			}
		}
	}
}
.fsmenu.close-menu {
	display: block;

	.fsmenu--container {
		width: 100vw;
		right: auto;
		left: 0;
		-webkit-animation: animMenuClose 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.3s forwards;
		animation: animMenuClose 0.6s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0.3s forwards;

		.fsmenu--text-container {
			.fsmenu--list {
				.fsmenu--list-element {
					a {
						span {
							&:before {
								left: auto;
								right: 0;
								background: var(--yellow-600);
								-webkit-animation: animMenuCloseLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
								animation: animMenuCloseLinks 0.4s cubic-bezier(0.13, 0.13, 0.02, 1.07) 0s forwards;
							}
						}
					}
				}
			}
		}
	}
}

@-webkit-keyframes animMenuReveal {
  0% {
    width: 0vw;
  }
  100% {
    width: 100vw;
  }
}

@keyframes animMenuReveal {
  0% {
    width: 0vw;
  }
  100% {
    width: 100vw;
  }
}
@-webkit-keyframes animMenuRevealLinks {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes animMenuRevealLinks {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-webkit-keyframes animMenuClose {
  0% {
    width: 100vw;
    padding: 8em 3em 3em;
  }
  100% {
    width: 0vw;
    padding: 8em 0 0;
  }
}
@keyframes animMenuClose {
  0% {
    width: 100vw;
    padding: 8em 3em 3em;
  }
  100% {
    width: 0vw;
    padding: 8em 0 0;
  }
}
@-webkit-keyframes animMenuCloseLinks {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}
@keyframes animMenuCloseLinks {
  0% {
    width: 0%;
  }
  100% {
    width: 110%;
  }
}
@-webkit-keyframes animMenuRevealImg {
  0% {
    width: 0;
  }
  100% {
    width: 720px;
  }
}
@keyframes animMenuRevealImg {
  0% {
    width: 0;
  }
  100% {
    width: 720px;
  }
}
@-webkit-keyframes animMenuCloseImg {
  0% {
    width: 720px;
  }
  100% {
    width: 0;
  }
}
@keyframes animMenuCloseImg {
  0% {
    width: 720px;
  }
  100% {
    width: 0;
  }
}
@-webkit-keyframes animScrollingContactTextLeft {
  0% {
    transform: translate(-20%, -100%);
  }
  100% {
    transform: translate(-40%, -100%);
  }
}
@keyframes animScrollingContactTextLeft {
  0% {
    transform: translate(-20%, -100%);
  }
  100% {
    transform: translate(-40%, -100%);
  }
}

// button

@keyframes top {
  0% {
    top: 0;
    transform: rotate(0);
  }
  50% {
    top: 9px;
    transform: rotate(0);
  }
  100% {
    top: 9px;
    transform: rotate(45deg);
  }
}

@keyframes top-2 {
  0% {
    top: 9px;
    transform: rotate(45deg);
  }
  50% {
    top: 9px;
    transform: rotate(0deg);
  }
  100% {
    top: 0;
    transform: rotate(0deg);
  }
}

@keyframes bottom {
  0% {
    bottom: 0;
    transform: rotate(0);
  }
  50% {
    bottom: 9px;
    transform: rotate(0);
  }
  100% {
    bottom: 9px;
    transform: rotate(135deg);
  }
}

@keyframes bottom-2 {
  0% {
    bottom: 9px;
    transform: rotate(135deg);
  }
  50% {
    bottom: 9px;
    transform: rotate(0);
  }
  100% {
    bottom: 0;
    transform: rotate(0);
  }
}

@keyframes scaled {
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaled-2 {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
