.small {
	color: var(--black);
	font-weight: 300;
	font-size: 2rem;
	line-height: 2rem;
	text-align: center;

	>strong {
		font-weight: 800;
		font-size: 2rem;
		line-height: 2rem;
	}
}

.normal {
	color: var(--black);
	font-weight: 300;
	font-size: clamp(1.5rem, 8vw, 3.125rem);
	line-height: clamp(1.5rem, 10vw, 4.125rem);
	text-align: center;

	>strong {
		font-weight: 800;
		font-size: 3.125rem;
		line-height: 4.125rem;
	}
}
