.heading {
		color: var(--black);
		font-weight: 300;
		font-size: 3.125rem;
		line-height: 4.125rem;
		text-align: center;

		>strong {
			font-weight: 800;
			font-size: 3.125rem;
			line-height: 4.125rem;
		}
	}
