:root {
	// Yellow
	--yellow-500: #FFE604;
	--yellow-600: #FFC804;

	// Orage
	--orange-700: #DF5E00;

	// White / Gray
	--white: #ffffff;

	--gray-200: #222222;
	--gray-300: #333333;

	// Black
	--black: #000000;
}
