:root {
	// Yellow
	--yellow-500: #FFE604;
	--yellow-600: #FFC804;

	// Orange
	--orange-500: #EEAB1F;
	--orange-700: #DF5E00;

	// White / Gray
	--white: #ffffff;
	--white-100: #F5F5F5;
	--white-400: #FFFFE4;

	--gray-200: #222222;
	--gray-300: #333333;

	// Red
	--red-500: #D80404;

	// Black
	--black: #000000;
}
