.label {
	display: block;

	padding-bottom: 1rem;

	font-size: 1.5rem;
	font-weight: 800;
	color: var(--black);

	text-transform: uppercase;
}

.textArea {
	width: 100%;
	color: var(--white);

	background-color: var(--black);

	resize: none;
	padding: 1rem;
}

.error {
	color: var(--red-500);
}
