.contentArea {
	background-color: var(--white-100);

	.yellowBox {
		background-color: var(--yellow-500);

		position: relative;
		transform: translateY(-4rem);

		padding: 2.5rem 4.5rem;

		strong {
			font-size: 1.875rem;
			font-weight: 600;
			line-height: 1.3em;
		}
	}
	p,
	img {
		text-align: center;
		margin-bottom: 2rem;
	}

	.arrowUp {
		width: 0;
		height: 0;
		border-left: 2rem solid transparent;
		border-right: 2rem solid transparent;

		border-bottom: 2rem solid var(--yellow-500);

		position: absolute;
		top: -2rem;
		left: calc(50% - 2rem);
	}
}

.projectSheet {
	background-color: var(--white);

	button{
		cursor: auto;

		&:hover {
			filter: none;
		}
	}


	> div:first-child {
		button {
			display: flex;
			margin: 0 auto;

			transform: translateY(-1.25rem);
		}
	}

	.projectSheetContent {
		> div:first-child {
			margin: 1.25rem 0 2.5rem 0;
		}

		> div:first-child > div {
			display: flex;
			gap: 1.5rem;

			strong,
			span {
				flex: 1;
			}

			strong {
				text-align: right;
			}
		}

		.projectSheetCards {
			justify-content: center;
			flex-wrap: wrap;
			max-width: 800px;

			margin: 2rem auto 0 auto;

			button {
				flex: 1;
				justify-content: center;
			}
		}

		> div:last-child {
			margin: 2.5rem 0;

			> div:nth-child(1) {
				display: flex;
				justify-content: center;

				img {
					width: 194px;
				}
			}

			> div:nth-child(2) {
				display: flex;
				justify-content: center;

				gap: 3rem;

				margin: 2.5rem 0;

				a {
					transition: color 200ms;
					color: var(--black);

					&:hover {
						color: var(--yellow-600);
					}
				}
			}
		}
	}

	hr {
		margin: 0;
		padding: 0;

		opacity: 1;
	}
}

@media (min-width: 577px){
	.contentArea {
		.content {
			padding: 1rem 4.5rem 3rem 4.5rem;
		}
	}
}

@media (max-width: 576px) {
	.contentArea {

		.yellowBox {
			transform: none;
			padding: 2rem 1.25rem;
		}

		.content {
			padding-top: 3rem;
			padding-bottom: 3rem;

			p {
				text-align: justify;
			}
		}

		.projectSheetContent {
			> div:first-child > div {
				margin-bottom: 1rem;
			}
		}
	}
}
