.label {
	display: block;

	padding-bottom: 1rem;

	font-size: 1.5rem;
	font-weight: 800;
	color: var(--black);

	text-transform: uppercase;
}

.input {
	background: none;
	border-bottom: 1px solid var(--black);

	width: 100%;
	padding: 0.25rem;

	&:focus {
		outline: 1px solid var(--black);
		border-radius: 0.25rem;
	}
}
